<a href="https://colab.research.google.com/github/Olympian13/Datathon-NYU-2022/blob/main/Peak_Datathon_Minority_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datathon Group Minority Report
###Team Members: Ryan Rim, Reynaldo Espinoza, John Farias, Andres Alvarado
## Challenge #1
Providing personalized recommendations for an online retailer

### Installing Packages

In [ ]:
!pip install opendatasets
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.22)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Loading in the data from Kaggle

In [ ]:
import os
os.environ['KAGGLE_USERNAME'] = "reynaldoe" # username from the json file
os.environ['KAGGLE_KEY'] = "d0ac819c49d2c982f30df7790666e948" # key from the json file
!kaggle datasets download -d olistbr/brazilian-ecommerce --force# api copied from kaggle
!unzip -o brazilian-ecommerce.zip -d .

usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: unrecognized arguments: --force# copied from kaggle
Archive:  brazilian-ecommerce.zip
  inflating: ./olist_customers_dataset.csv
  inflating: ./olist_geolocation_dataset.csv
  inflating: ./olist_order_items_dataset.csv
  inflating: ./olist_order_payments_dataset.csv
  inflating: ./olist_order_reviews_dataset.csv
  inflating: ./olist_orders_dataset.csv
  inflating: ./olist_products_dataset.csv
  inflating: ./olist_sellers_dataset.csv
  inflating: ./product_category_name_translation.csv

In [ ]:
import opendatasets as od

##Ordering the data into separate dataframes

In [ ]:
import pandas as pd

customers =('olist_customers_dataset.csv')
geolocation =('olist_geolocation_dataset.csv')
orderitems =('olist_order_items_dataset.csv')
orderpayments =('olist_order_payments_dataset.csv')
reviews =('olist_order_reviews_dataset.csv')
orders =('olist_orders_dataset.csv')
products =('olist_products_dataset.csv')
sellers =('olist_sellers_dataset.csv')

customers = pd.read_csv(customers)
geolocation = pd.read_csv(geolocation)
orderitems = pd.read_csv(orderitems)
orderpayments = pd.read_csv(orderpayments)
reviews = pd.read_csv(reviews)
orders = pd.read_csv(orders)
products = pd.read_csv(products)
sellers = pd.read_csv(sellers)

## Creating the main dataframe

In [ ]:
customers_orders = pd.merge(customers, orders, on= 'customer_id', how = 'outer')
product_items= pd.merge(products, orderitems, on = 'product_id', how= 'outer')
final_df =  pd.merge(customers_orders, product_items, on= 'order_id', how = 'outer')
final_df =final_df.drop(['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty','order_purchase_timestamp', 'order_estimated_delivery_date','product_width_cm','shipping_limit_date', 'freight_value' ],axis=1)
final_df = final_df.dropna()
final_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,product_id,product_category_name,order_item_id,seller_id,price
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,1.0,7c67e1448b00f6e969d365cea6b010ab,124.99
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,4aa6014eceb682077f9dc4bffebc05b0,utilidades_domesticas,1.0,b8bc237ba3788b23da09c0f1f3a3288c,289.00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,bd07b66896d6f1494f5b86251848ced7,moveis_escritorio,1.0,7c67e1448b00f6e969d365cea6b010ab,139.94
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,a5647c44af977b148e0a3a4751a09e2e,moveis_escritorio,1.0,7c67e1448b00f6e969d365cea6b010ab,149.94
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,9391a573abe00141c56e38d84d7d5b3b,casa_conforto,1.0,4a3ca9315b744ce9f8e9374361493884,230.00

In [ ]:
final_df['delivery_time']= (pd.to_datetime(final_df['order_delivered_customer_date'])) -  (pd.to_datetime(final_df['order_approved_at']))
final_df['delivery_time']= final_df['delivery_time'].dt.days
final_df = final_df[final_df.delivery_time > 0]

#final_df = final_df.replace('s√£o paulo','sao paulo')
final_df = final_df.drop(['customer_zip_code_prefix','customer_city', 'order_status', 'order_approved_at', 'order_delivered_carrier_date','order_delivered_customer_date','customer_id', 'customer_unique_id','order_id',	'order_item_id'],axis=1)
#final_df= pd.get_dummies(final_df,columns=['customer_city'])
final_df= pd.get_dummies(final_df, columns=['product_category_name'])
#final_df= pd.get_dummies(final_df, columns=['customer_zip_code_prefix'])
final_df= pd.get_dummies(final_df, columns=['customer_state'])
final_df= pd.get_dummies(final_df, columns=['seller_id'])



final_df.describe(include=[int])

       delivery_time
count  108390.000000
mean       11.569305
std         9.397808
min         1.000000
25%         6.000000
50%         9.000000
75%        15.000000
max       208.000000

### Note
We could comment out the get_dummies for customer_state, drop customer_state from final_df, uncomment the get_dummies for customer_city, and undrop customer_city from final_df to get a average 3% increase in accuracy but for a much longer run time.

In [ ]:
unique_products = list(final_df["product_id"].unique())
final_df["product_id"] = final_df["product_id"].apply(lambda x: unique_products.index(x))
#df2=final_df.sort_values(by=['product_id'])

## Machine Learning Section

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [ ]:
target_column = 'product_id'
feature_columns= final_df.loc[:, final_df.columns != target_column].columns
X_train, X_test, y_train, y_test = train_test_split(final_df[feature_columns],final_df[target_column],train_size=0.8, test_size=0.2, random_state=42, shuffle=True)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(86712, 3016) (86712,)
(21678, 3016) (21678,)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

model =DecisionTreeRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test).astype(int)

# Evaluate the model on the training data
print(model.score(X_train, y_train))

# Evaluate the model on the testing data
print(model.score(X_test, y_test))

0.9712195486978266
0.18997873360715434

## Accuracy of Regression Model

In [ ]:
accuracy = str(accuracy_score(y_test,y_pred,))
print('accuracy score: ' + accuracy)

accuracy score: 0.44635113940400406

### Plans for Regression Model


We would input unique customers average price of previous orders, average time to delivery of previous orders, the state they live in, the category of their previous order, and the seller of their previous order. We would run it again using the category and seller of their 2nd previous order and so on and so forth. We could also use their most purchased category and most purchased seller.